# dependencies
/node_modules

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# env files (keep .env.example)
.env*
!.env.example

# misc
.DS_Store
*.pem
*.tsbuildinfo
npm-debug.log*

# vercel
.vercel

#doc
/docs

AGENTS.md
CLAUDE.md